<div class="container my-auto">

<div class="row m-4">
    <div class="col">
        <button class="btn btn-primary btn-block" (click)="showSnackbarDefaultOptions()">
            Default Options 
        </button>
    </div>
</div>

    <div class="row m-4">
        <div class="col">
            <button class="btn btn-primary btn-block" (click)="showSnackbarTopActionSlide()">
                Top - Slide - Action  
            </button>
        </div>
    </div>

    <div class="row m-4">
        <div class="col">
            <button class="btn btn-primary btn-block" (click)="showSnackbarBottomIconSlide()">
                Bottom - Slide - Icon  
            </button>
        </div>
    </div>

    <div class="row m-4">
        <div class="col">
            <button class="btn btn-primary btn-block" (click)="showSnackbarTopFade()">
                Top - Fade - Text only
            </button>
        </div>
    </div>

    <div class="row m-4">
        <div class="col">
            <button class="btn btn-primary btn-block" (click)="showSnackbarBottomIconFade()">
                Bottom - Fade - Icon
            </button>
        </div>
    </div>

    <div class="row m-4">
            <div class="col">
                <button class="btn btn-primary btn-block" (click)="showSnackbarTopActionSlideFade()">
                    Top - Slide Fade - Action
                </button>
            </div>
        </div>
    
        <div class="row m-4">
            <div class="col">
                <button class="btn btn-primary btn-block" (click)="showSnackbarBottomIconSlideFade()">
                    Bottom - Slide Fade - Icon
                </button>
            </div>
        </div>
</div>